body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.ordersListener{
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 50%;
    width: 180px;
    margin-left: -90px;
    text-align: center;
    cursor: pointer;
}
.ordersListener :hover {
    color: darkgreen;    
    text-decoration: none;
}

a {
    color: #6d84b4;
    text-decoration: none;
}

section {
    background: rgba(255,255,255,0.9);
    padding-right: 85px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    width: 60%;
    margin: auto;
    margin-top: -20px;
    border-radius: 5px;
    border: 1px solid #666;
}

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    margin-left: 40px;
    *zoom: 1;
    width: 100%;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img { display: block }

.comment-body { overflow: hidden }

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.comment .text p:last-child { margin: 0 }

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

/* Decoration */

.comments, .comment { position: relative }

.comments:before, .comment:before, .comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
}

.comments:before {
    width: 3px;
    left: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.1);
}

.comments:before {
    width: 3px;
    left: 5px;
    bottom: 0px;
    background: rgba(0,0,0,0.1);
}

.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.comment:hover {
    /*  cursor: url('../images/FB_CUR.cur');  See the result on http://lab.web-gate.fr/timeline/ */ 
    cursor: cell; /* This line is for the cursor */
}

.comment:hover:before { background: #3b5998 }

.comment-body-child{
    padding-top:10px;
    padding-left:10px;
}

a:hover{
    text-decoration:none;
}

#dialogRegisterContent{
    left:auto;
    margin-left:20px;
}
#dialogLogonContent{
    margin-left:20px;
    left:auto;
}

