@model NorthwindPL.Models.SupplierViewModel

@{
  <td>
            @Html.DisplayFor(Model => Model.Supplier)
        </td>     
        <td>
            @Html.DisplayFor(Model => Model.HomePhone)
        </td>
    }