<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PersonalBlogConnection"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(local);Initial Catalog=PersonalBlog;Integrated Security=True" />
  </connectionStrings>
</configuration>